body {
    background-color: black;
    font-family: "Robot Mono", monospace;
    font-size: 0.9em;
}

#main {
    color: #fcfcfc;
    background-color: #232627;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 5.4em);
    overflow-wrap: anywhere;
    overflow-y: scroll;
}

#header,
#footer {
    color: black;
    background-color: white;
    margin: 0;
    padding-left: 6px;
}

#prompt {
    color: white;
    background-color: black;
    overflow-x: hidden;
}

.text {
    display: inline;
    margin: 0;
    padding: 0;
    overflow-wrap: anywhere;
    word-break: break-all;
}
